<!DOCTYPE html>
<!--
FILE: Tell me about the file and why it exists for this project
COPYRIGHT: Any copyright information or set / delete.
LICENSE: what license or set N/A or delete.
-->
<html lang="en"><head>
  <!-- Set the title of the page-->
  <title>TITLE</title>
  <meta property="og:title" content="TITLE">
  <meta name="twitter:title" content="TITLE">
  <!-- Set who authored the page-->
  <meta name="author" content="AUTHOR NAME">
  <meta name="twitter:site" content="@yourusername OR DELETE">
  <!-- Provide a description for your page-->
  <meta name="description" content="DESCRIPTION">
  <meta property="og:description" content="DESCRIPTION">
  <meta name="twitter:description" content="DESCRIPTION">
  <!-- Set Your Website Reference-->
  <meta property="og:url" content="YOUR WEBSITE REFERENCE">
  <meta name="twitter:image" content="https://yourwebsite.com">
  <meta property="og:image" content="https://yourwebsite.com">
  <!-- Set keywords in CSV format-->
  <meta name="keywords" content="KEYWORDS">
  <!-- Image Preview For Website-->
  <meta property="og:image" content="https://example.com" />
  <meta name="twitter:image" content="https://yoursite.com/image.png" />
  <!-- Set your Favicon -->
  <link rel="icon" type="image/x-icon" href="FAVICON_LOCATION.ico">
  <!-- Leave these alone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website" />
  <meta charset="UTF-8">
  <!-- Determine what you are doing below for loading resources-->
  <link rel="stylesheet" href="STYLE_SHEET.css">
  <style>
    /* Define some styles if not externally loaded */
  </style>

  <script src="LOAD A SCRIPT"></script>
  <script>
    // Define script behavior
  </script>
</head><body>
  <!-- Build the UI -->
  <script>
    // Define script behavior
  </script>
</body></html>
